body{
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    color: #434455;
}
h1{
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2%;
    text-align: center;
/*   line-height: 1.07;   */
}
h2{
    font-size: 36px;
    color: #2E2F42;
}
h3{
    font-size: 20px;
    color: #2E2F42;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
.button{
    font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #4D5AE5;
    color: #FFFFFF;
}
footer{
    font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #F4F4FD;
    background-color: #2E2F42;
}
.webfooter{
    font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;
}
.studiofooter{
    font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #F4F4FD;
}
.web{
    color:#4D5AE5;
}
.studio{
    color: #2E2F42;
}
.title {
    background-color: #2E2F42;
}
.address{
    color: #434455;
}
.link{
    color: #2E2F42  ;
}
.footerinfo{
    font-size: 16px;
    color: #F4F4FD;
}
.web, .studio, .webfooter, .studiofooter, .title, .address, .button, .footerinfo, .link{
    text-decoration: none;
}
ul{
    list-style-type: none;
}